<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Evan Griffiths</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Projects</a>
          <div class="dropdown-content">
            <a href="https://kom-viewer.onrender.com">KOM Viewer</a>
            <a href="the_rock_project.html">The Rock Project</a>
            <a href="scruffy_tweets.html">Scruffy Tweets</a>
          </div>
        </li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
