{% include "templates/header.html" %}

<! -- 
bulkhead removal
subfloor
sound proofing
roof vent
window
solar panel + wiring into van
fluffy insulation
leisure battery
wiring for lights etc.
foil insulation on sides + batons
roof battons + foam insulation
carpeting with spray adhesive
flooring
roof cladding + wiring in lights
electrics panel
cladding (+plywood) on sides
bed
cupboards
-->

<body>
  <h1>The Rock Project</h1>

  <div class="image-block">
    <img src="static/images/the-rock-project/0-intro/IMG_1051.jpeg" width="300" alt="How it started" style="margin-right: 10px;">
    <img src="static/images/the-rock-project/0-intro/arrow.png" width="200" alt="Arrow" style="margin-right: 10px;">
    <img src="static/images/the-rock-project/0-intro/IMG_2686.jpeg" width="300" alt="How it's going">
  </div>

  <p>In December 2021 Lily and I bought a 2010 SWB Ford Transit. Over the next 6 months we converted it to a small but mighty camper that we lived in while touring France and Spain the following summer. We've been using it for trips around Scotland since. In its previous life, the van belonged to a franchisee of <a href="https://www.therockproject.com">The Rock Project</a>, hence the decals. Its spirit lives on, and here is a run-through of the conversion process.</p>

  <h2 style="margin-top: 40px;">1. Cleanout, subfloor and soundproofing</h2>
  <div class="image-container">
    <!-- Image block with images -->
    <div class="scrollable-image-block">
        <img src="static/images/the-rock-project/1-clearout-subfloor/IMG_1054.jpeg" width="300">
        <img src="static/images/the-rock-project/1-clearout-subfloor/IMG_1068.jpeg" width="300">
        <img src="static/images/the-rock-project/1-clearout-subfloor/IMG_1079.jpeg" width="300">
        <img src="static/images/the-rock-project/1-clearout-subfloor/IMG_3737.JPG" width="300">
        <img src="static/images/the-rock-project/1-clearout-subfloor/IMG_3742.JPG" width="300">
        <img src="static/images/the-rock-project/1-clearout-subfloor/IMG_3743.JPG" width="300">
        <!-- Add more images here -->
    </div>
    
    <!-- Navigation buttons -->
    <div class="nav-button left" id="scrollLeft"></div>
    <div class="nav-button right" id="scrollRight"></div>
  </div>
  <script>
    // JavaScript to handle scrolling
    document.getElementById("scrollLeft").addEventListener("click", function () {
        scrollImageContainer(-300); // Adjust the scroll distance as needed
    });

    document.getElementById("scrollRight").addEventListener("click", function () {
        scrollImageContainer(300); // Adjust the scroll distance as needed
    });

    function scrollImageContainer(scrollAmount) {
        const container = document.querySelector(".image-container");
        container.scrollLeft += scrollAmount;
    }
  </script>

  <p>TODO</p>
</body>

{% include "templates/footer.html" %}
