{% import "macros.html" as macros %}
{% include "templates/header.html" %}

<! -- 
flooring
roof cladding + wiring in lights
electrics panel
cladding (+plywood) on sides
bed
cupboards
cushions and curtains
-->

<body>
  <h1>The Rock Project</h1>

  <div class="image-block">
    <img src="static/images/the-rock-project/0-intro/IMG_1051.jpeg" width="300" alt="How it started" style="margin-right: 10px;">
    <img src="static/images/the-rock-project/0-intro/arrow.png" width="200" alt="Arrow" style="margin-right: 10px;">
    <img src="static/images/the-rock-project/0-intro/IMG_2686.jpeg" width="300" alt="How it's going">
  </div>

  <p>In December 2021 Lily and I bought a 2010 SWB Ford Transit. Over the next 6 months we converted it to a small but mighty camper that we lived in while touring France and Spain the following summer. We've been using it for trips around Scotland since. In its previous life, the van belonged to a franchisee of <a href="https://www.therockproject.com">The Rock Project</a>, hence the decals. Its spirit lives on, and here is a run-through of the conversion process.</p>

  <h2>1. Clearout, subfloor and soundproofing</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/1-clearout-subfloor/IMG_1054.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_1068.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_1079.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_3737.JPG",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_3742.JPG",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_3743.JPG",
    ]
  ) }}
  <ul>
    <li>Removed and sold bulkhead, sold ramp (bonus!).</li>
    <li>Removed ply lining, cleaned floor, de-rusted floor and wheel arches and repainted.</li>
    <li>Covered floor holes at base of bulkhead with fiberglass.</li>
    <li>Glued baton grid to floor and fixed Kingspan foam insulation in between with foil tape.</li>
    <li>Taped bubble wrap insulation over wheel arches.</li>
    <li>Re-used (after sanding down) original 12mm plywood flooring. Screwed into batons.</li>
  </ul>

  <h2>2. Roof vent and window</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/2-roof-vent-window/IMG_1153.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1151.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1155.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1220.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1222.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1223.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1224.jpeg",
    ]
  ) }}
  <ul>
    <li>Cut a hole for the Fiamma roof vent, filed down and painted edge, and fitted.</li>
    <li>Cut hole for window, filed down and painted edge, and fitted.</li>
    <li>Cleared all iron filings from van (including roof!).</li>
  </ul>

  <h2>3. Solar panel, leisure battery and wiring</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/3-solar-panel-wiring/IMG_000.JPG",
      "static/images/the-rock-project/3-solar-panel-wiring/IMG_3776.JPG",
      "static/images/the-rock-project/3-solar-panel-wiring/IMG_1203.jpeg",
    ]
  ) }}
  <ul>
    <li>Drilled holes for solar panel mounts, fitted solar panel.</li>
    <li>Drilled holes for cables and fitted rubber gromits.</li>
    <li>Passed cables through sealed cover and glued down.</li>
    <li>Installed leisure battery under driver's seat.</li>
    <li>Picked area behind driver's seat as location of electrics control board.</li>
    <li>Routed cables for solar panel, lesiure battery, roof lights and roof vent fan to this area.</li>
  </ul>
  <p>Note: Electrics was tested at this point, but finishing off the electrics (inc. installing fuse box) was left until later.</p>

  <h2>4. Wall, door and roof insulation, batons, carpeting</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/4-insulation-batons/IMG_1293.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_3777.JPG",
      "static/images/the-rock-project/4-insulation-batons/IMG_3778.JPG",
      "static/images/the-rock-project/4-insulation-batons/IMG_1373.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_1336.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_1337.jpeg",
    ]
  ) }}
  <ul>
    <li>Put glass mineral wool insulation in doors and along walls, using spray adhesive where needed.</li>
    <li>Covered walls with bubble wrap insulation.</li>
    <li>Screwed batons into walls.</li>
    <li>Screwed batons along ceiling ribs, fitted Kingspan foam insulation inbetween.</li>
    <li>Carpeted, using spray adhesive, exposed edges that wouldn't be covered by cladding, including wheel arches.</li>
    <li>Installed hammock hook, re-using original floor fixing.</li>
  </ul>

  <h2>5. Flooring, cladding and electrics board</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1371.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1372.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1377.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_flooring.JPG",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1379.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_3796.JPG",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_3800.JPG",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1401.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1403.jpeg",
    ]
  ) }}
  <ul>
    <li>TODO</li>
  </ul>

  <script>
    // Add scroll functionality to image containers
    document.querySelectorAll(".image-container-wrapper").forEach(function (wrapper) {
        wrapper.addEventListener("click", function (event) {
            const container = wrapper.querySelector(".image-container");
            const scrollAmount = 300;

            if (event.target.classList.contains("left")) {
                container.scrollLeft -= scrollAmount;
            } else if (event.target.classList.contains("right")) {
                container.scrollLeft += scrollAmount;
            }
        });
    });
  </script>
</body>

{% include "templates/footer.html" %}
