{% import "macros.html" as macros %}
{% include "templates/header.html" %}

<body>
  <h1>The Rock Project</h1>

  <div class="image-block">
    <img src="static/images/the-rock-project/0-intro/IMG_1051.jpeg" width="300" alt="How it started" style="margin-right: 10px;">
    <img src="static/images/the-rock-project/0-intro/arrow.png" width="200" alt="Arrow" style="margin-right: 10px;">
    <img src="static/images/the-rock-project/0-intro/IMG_2686.jpeg" width="300" alt="How it's going">
  </div>

  <p>In December 2021 Lily and I bought a 2010 SWB Ford Transit. Over the next 6 months we converted it to a small but mighty camper that we lived in while touring France and Spain the following summer. We've been using it for trips around Scotland since. In its previous life, the van belonged to a franchisee of <a href="https://www.therockproject.com">The Rock Project</a>, hence the decals. Its spirit lives on, and here is a run-through of the conversion process.</p>

  <h2>1. Clearout, subfloor and soundproofing</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/1-clearout-subfloor/IMG_1054.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_1068.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_1079.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_3737.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_3742.jpeg",
      "static/images/the-rock-project/1-clearout-subfloor/IMG_3743.jpeg",
    ]
  ) }}
  <ul>
    <li>Removed and sold bulkhead, sold ramp (bonus!).</li>
    <li>Removed ply lining, cleaned floor, de-rusted floor and wheel arches and repainted.</li>
    <li>Covered floor holes at base of bulkhead with fiberglass.</li>
    <li>Glued baton grid to floor and fixed Kingspan foam insulation in between with foil tape.</li>
    <li>Taped bubble wrap insulation over wheel arches.</li>
    <li>Re-used (after sanding down) original 12mm plywood flooring. Screwed into batons.</li>
  </ul>

  <h2>2. Roof vent and window</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/2-roof-vent-window/IMG_1153.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1151.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1155.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1220.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1222.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1223.jpeg",
      "static/images/the-rock-project/2-roof-vent-window/IMG_1224.jpeg",
    ]
  ) }}
  <ul>
    <li>Cut a hole for the Fiamma roof vent, filed down and painted edge, and fitted.</li>
    <li>Cut hole for window, filed down and painted edge, and fitted.</li>
    <li>Cleared all iron filings from van (including off the roof!).</li>
  </ul>

  <h2>3. Solar panel, leisure battery and wiring</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/3-solar-panel-wiring/IMG_000.jpeg",
      "static/images/the-rock-project/3-solar-panel-wiring/IMG_3776.jpeg",
      "static/images/the-rock-project/3-solar-panel-wiring/IMG_1203.jpeg",
    ]
  ) }}
  <ul>
    <li>Drilled holes for solar panel mounts, fitted solar panel.</li>
    <li>Drilled holes for cables and fitted rubber gromits.</li>
    <li>Passed cables through sealed cover and glued down.</li>
    <li>Installed leisure battery under driver's seat.</li>
    <li>Picked area behind driver's seat as location of electrics control board.</li>
    <li>Routed cables for solar panel, lesiure battery, roof lights and roof vent fan to this area.</li>
  </ul>
  <p>Note: Electrics was tested at this point, but finishing off the electrics (inc. installing fuse box) was left until later.</p>

  <h2>4. Wall, door and roof insulation, batons, carpeting</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/4-insulation-batons/IMG_1293.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_3777.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_3778.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_1373.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_1336.jpeg",
      "static/images/the-rock-project/4-insulation-batons/IMG_1337.jpeg",
    ]
  ) }}
  <ul>
    <li>Put glass mineral wool insulation in doors and along walls, using spray adhesive where needed.</li>
    <li>Covered walls with bubble wrap insulation.</li>
    <li>Screwed batons into walls.</li>
    <li>Screwed batons along ceiling ribs, fitted Kingspan foam insulation inbetween.</li>
    <li>Carpeted, using spray adhesive, exposed edges that wouldn't be covered by cladding, including wheel arches.</li>
    <li>Installed hammock hook, re-using original floor fixing.</li>
  </ul>

  <h2>5. Flooring, cladding and electrics board</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1371.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1372.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1377.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_flooring.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1379.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_3796.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_3800.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1401.jpeg",
      "static/images/the-rock-project/5-flooring-cladding-electrics-board/IMG_1403.jpeg",
    ]
  ) }}
  <ul>
    <li>Wired up all electrics for what was fitted so far to a 'draft' electrics board. This included fuse box, VSR and solar controller.</li>
    <li>Taped down underlay over the plywood subfloor, and laid tongue and groove flooring over the top (oo Rockland Hickory yummm).</li>
    <li>Stained then attached the pine ceiling cladding, fitting the recessed lights as we went.</li>
    <li>Attached the bottom half of the roof vent.</li>
    <li>Cladded the right hand wall and top half of the left hand wall with the same wood, then stained in-place.</li>
    <li>Used some of the original plywood, sanded down and wrapped in carpet lining, for the bottom half of the left hand wall (as it's covered by the storage cupboard).</li>
  </ul>

  <h2>6. Bed (+interlude)</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/6-bed/IMG_1421.jpeg",
      "static/images/the-rock-project/6-bed/IMG_1422.jpeg",
      "static/images/the-rock-project/6-bed/IMG_1433.jpeg",
      "static/images/the-rock-project/6-bed/IMG_1434.jpeg",
      "static/images/the-rock-project/6-bed/IMG_1435.jpeg",
      "static/images/the-rock-project/6-bed/IMG_1436.jpeg",
      "static/images/the-rock-project/6-bed/IMG_1448.jpeg",
      "static/images/the-rock-project/6-bed/IMG_1450.jpeg",
    ]
  ) }}
  <ul>
    <li>Built the sliding bed frame (shout-out to <a href="https://www.youtube.com/watch?v=G2gVKQBDwMs">Mel for the design.</a>) and attached it to the wall and floor.</li>
    <li>Took a break from working on the van to take it on its INAUGERAL TOUR.</li>
    <li>We took the mattress off the fouton and went on an overnighter in Stroud, parking over the road from Winstone's Ice Cream wooo good times!</li>
  </ul>

  <h2>7. Wardrobe and kitchen</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1483.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1497.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1498.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1500.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1501.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1512.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1513.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1514.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1517.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_1675.jpeg",
      "static/images/the-rock-project/7-big-cupboard-kitchen/IMG_sink_water.gif",
    ]
  ) }}
  <ul>
    <li>Built a multi-purpose cupboard unit that functions as a wardrobe, kitchen/food storage, sink area and pull-down table.</li>
    <li>The frame was made using stick batons with basic joins.</li>
    <li>The left hand section had 3 shelves, with shelves and doors using 12mm plywood.</li>
    <li>The pull-down table was attached at the bottom with two sprung hinges, and at the top with two ball catches. It's supported when open by steel wire.</li>
    <li>Used flush hinges (see <a href="https://www.youtube.com/watch?v=CCSYlJo8J4c">Peter's video</a> for source) and magnetic latches for the doors.</li>
    <li>Painted everything white, and attached the cupboard to the floor and wall.</li>
    <li>Cut a section from an oak-effect counter top for the kitchen area.</li>
    <li>Installed a sink and tap, and connected to a 12V pump, 20L fresh-water tank and 10L waste-water tank, stored in the space below.</li>
    <li>Attached the COMPULSORY spice rack to the cupboard above the kitchen area.</li>
  </ul>

  <h2>8. Cushions, curtains and fridge cupboard (+other bits)</h2>
  {{ macros.scrollable_image_container(
    [
      "static/images/the-rock-project/8-curtains-cushions-fridge-cupboard/IMG_1482.jpeg",
      "static/images/the-rock-project/8-curtains-cushions-fridge-cupboard/IMG_1604.jpeg",
      "static/images/the-rock-project/8-curtains-cushions-fridge-cupboard/IMG_1605.jpeg",
      "static/images/the-rock-project/8-curtains-cushions-fridge-cupboard/IMG_1625.jpeg",
      "static/images/the-rock-project/8-curtains-cushions-fridge-cupboard/IMG_1635.jpeg",
      "static/images/the-rock-project/8-curtains-cushions-fridge-cupboard/IMG_1676.jpeg",
      "static/images/the-rock-project/8-curtains-cushions-fridge-cupboard/IMG_4677.jpeg",
    ]
  ) }}
  <ul>
    <li>Bought mattress foam, and cut to shape for the sofa/bed cushions.</li>
    <li>Sourced material and sewed cushion covers with a zipped opening.</li>
    <li>Attached a curtain rail above the cab seats.</li>
    <li>Sourced and cut material for curtains. Attached blackout backing and curtain tape, and fitted to curtain rail.</li>
    <li>Magnets were sewn into the curtain lining on the outer edges so there'd be no gap to the walls.</li>
    <li>Built a large bedding storage box from plywood and batons to fit under the sliding bed.</li>
    <li>Sanded down and painted the original plywood door covers, and attached to doors to cover the insulation.</li>
    <li>Attached fold-out tables (wall brackets + stained 12mm ply wood) to the rear left-hand door (used for cooking) and next to the sink area (used for washing up).</li>
    <li>Built a second smaller cupboard using the same technique as the first.</li>
    <ul>
      <li>In its base is a 12V fridge, with a fabric cover made from the same material as the curtains.</li>
      <li>In its middle are a dimmer switch for the lights, USB and 12V charging ports and a voltage meter.</li>
      <li>Above this are three small shelves for additional storage.</li>
    </ul>
    <li>Finally, the electrics board was re-shaped to fit to the remaining space behind the cab.</li>
    <li>An enclosure was built for it, and behind some protective plywood was installed to allow bikes to be stored behind the seats without marking the cladding.</li>
  </ul>

  <p>This build took 6 months, finishing in June 2021. The process was stressful, rewarding, and Lily got some metal stuck in her eye. But the result has been a source of joy, with many trips taken and hopefully many more to come. Thanks to <a href="static/images/the-rock-project/bristol-rock-project.jpeg">Matt from @therockprojectbristol</a> for the van!</p>

  <script>
    // Add scroll functionality to image containers
    document.querySelectorAll(".image-container-wrapper").forEach(function (wrapper) {
        wrapper.addEventListener("click", function (event) {
            const container = wrapper.querySelector(".image-container");
            const scrollAmount = 300;

            if (event.target.classList.contains("left")) {
                container.scrollLeft -= scrollAmount;
            } else if (event.target.classList.contains("right")) {
                container.scrollLeft += scrollAmount;
            }
        });
    });
  </script>
</body>

{% include "templates/footer.html" %}
